html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: Arial, sans-serif;
}

/**.demo h1 {
  margin-top: 0;
}**/

p {
  font-family:
  text-align: center;
  color: black;
}

h1 {
  text-align: center;
  color: #00009c;
}
h2 {
  text-align: center;
  color: black;
}
#answer {
  text-align: center;
  font-weight: bold;
  font-size: 15pt;
  /**margin-top: 10%;**/
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}
#yesno {
  text-align: center;
  font-weight: bold;
  font-size: 100pt;
}


#footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
